@mixin myFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

$black: #25383f;
$grey: #6d6e71;
$red: #d26441;
$white: #ffffff;
$green: #52a828;
$brown: #755b1e;
